{% extends 'base.html.twig' %}
{% block title %}Profil Utilisateur
{% endblock %}

{% block body %}
	<a href="{{ path('home') }}">Page d'accueil</a>
	<a href="{{ path('profile_index') }}">Profil</a>

{% endblock %}