@import "tailwindcss";

body {
    background-color: #1A1A2E;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    color: white;
}
p {
    font-family: 'Lato', sans-serif;
    color: white;
}
a {
    background-color: #FF1B1C;
    opacity: 75%;
}
a:hover {
    background-color: #FF1B1C;
    opacity: 100%;
}

nav {
    background-color: #21213B;
}
.nav-svg {
    width: 30px;
    height: 30px;
    background-color: #21213B;
}
.nav-svg:hover {
    background-color: #21213B;
    opacity: 100%;
}

.small-nav {
    background-color: #21213B;
}

.img-profile {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.img-post {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.post-view {
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.svg-view {
    background-color: #1A1A2E;
}
.svg-post {
    background-color: #21213B;
}
.color-post {
    color: #E0E0E0;
    background-color: #21213B;
}

.color-comment {
    color: #E0E0E0;
    background-color: #2d2d51;
}

.svg-comment {
    background-color: #2d2d51;
}

.profil-index {
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #1A1A2E;
}
.profil-index:hover {
    background-color: #1A1A2E;
}

.like-main {
    background-color: #21213B;
}
.like-main:hover {
    background-color: #1A1A2E;
}