<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Mon Site
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>

		<header>
			{% block header %}{% endblock %}
		</header>

		<main>
			{% block body %}{% endblock %}
		</main>

		<footer>
			{% block footer %}
				<div id="cookie-banner" class="fixed bottom-0 left-0 right-0 bg-[#21213B] text-white p-4 shadow-lg z-50" style="display: none;">
					<div>
						<p class="text-center text-[12px]">En vous inscrivant, vous acceptez les Conditions d’utilisation et de la Politique de confidentialité, notamment l’utilisation des cookies.</p>
						<div class="flex justify-center items-center">
							<button onclick="accepterCookies()" class="mt-2 w-32 bg-[#FF1B1C] opacity-75 hover:opacity-100 text-white text-[12px] text-center py-1 rounded-full">J'accepte</button>
						</div>
					</div>
				</div>
			{% endblock %}
		</footer>

		{% block javascripts %}{% endblock %}

		<script>

			function accepterCookies() {
localStorage.setItem('cookie_consent', 'true');
document.getElementById('cookie-banner').style.display = 'none';
}


if (!localStorage.getItem('cookie_consent')) {
document.getElementById('cookie-banner').style.display = 'block';
} else {
document.getElementById('cookie-banner').style.display = 'none';
}
		</script>
	</body>
</html>
