{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="ml-8 mt-4 mb-4 w-24 bg-[#FF1B1C] opacity-75 hover:opacity-100 text-white text-[12px] text-center py-1 rounded-full">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
