{% extends 'base.html.twig' %}

{% block title %}Modifier le Post
{% endblock %}

{% block body %}
	<div class="mb-6 flex items-center md:justify-start justify-center gap-4 md:gap-6">
		<a href="{{ path('home') }}" aria-label="Retour à l'accueil">
			<svg class="svg-post" xmlns="http://www.w3.org/2000/svg" height="32" width="28" viewbox="0 0 448 512">
				<path fill="#e0e0e0" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
			</svg>
		</a>

		<h1 class="text-center md:text-left text-lg md:text-2xl font-semibold text-white">Mettre à jour le post</h1>
	</div>

	<div class="flex flex-col md:flex-row md:justify-center md:items-start gap-10 px-4 md:px-0 text-[#E0E0E0]">
		<div class="w-full md:w-1/2">
			{{ include('post/_form.html.twig') }}
		</div>

		<div class="w-full md:w-1/2 flex flex-col items-center md:items-start">
			<h2 class="text-lg mb-2 mt-2">Supprimer le post</h2>
			{{ include('post/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
